:root{
    --mainblue: darkblue;
    --mainYellow: rgb(226, 226, 29);
    --lightblue: rgb(27, 88, 167);
}

body{
    background: white;
}

.blue-c{
    color: var(--mainblue);
}

.text-blue{
    color: darkblue;
}

.text-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    text-align: center;
}